.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navTitle{
    height: 30px;
    padding: 10px;
    margin-left: 0;
    padding-left: 10px;
}
