.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    padding-top: 0;
}
.navTitle{
    height: 30px;
    padding-top: 0;
    padding-left: 10px;
    margin-top: 0px;
    font-family: "Shadows Into Light", cursive;
    font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #3096c5;
}
