html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
  overflow: hidden;
}

.mainContainer {
  /* position: relative; */
  height: 100vh;
  background-color: transparent;
  z-index: 1;

}


@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}